<?xml version="1.0"?>
<launch>
  <param name="tf_prefix" value="$(env ROBOT)" />

  <group ns="$(env ROBOT)">
   <param name="robot_description"
           command="$(find xacro)/xacro.py '$(find jr_description)/urdf/jr.urdf.xacro'" />

    <node pkg="nodelet" name="nodelet_manager" type="nodelet" args="manager" output="screen" />
    <node pkg="kangaroo_driver" name="kangaroo_driver" type="kangaroo_driver_node" respawn="true" output="screen" />
    <node pkg="nodelet" type="nodelet" name="jr_controller" 
      args="load angel_controller/angel_controller_nodelet nodelet_manager"
      output="screen">
    </node>
  </group>

<include file="$(find turtlebot_arm_bringup)/launch/arm.launch"/>
</launch>
