<?xml version="1.0"?>
<launch>
  <param name="tf_prefix" value="$(env ROBOT)" />

  <group ns="$(env ROBOT)">
    <node pkg="nodelet" name="nodelet_manager" type="nodelet" args="manager" output="screen" />

    <node pkg="kangaroo_driver" name="kangaroo_driver" type="kangaroo_driver_node" respawn="true" output="screen" />

    <node pkg="nodelet" type="nodelet" name="jr_controller" 
      args="load angel_controller/angel_controller_nodelet nodelet_manager"
      output="screen"/>
</launch>
